global-exclude *.pkl
global-exclude *.zip

exclude draftsman/factorio-mods/mod-settings.dat
exclude draftsman/factorio-mods/mod-list.json
include draftsman/factorio-mods/.gitignore

recursive-include draftsman/factorio-data/* *
include draftsman/compatibility/*