# Requirements
pydantic >= 2.3.0
lupa >= 2.0
gitpython >= 3.4.0
# Compatibility
typing; python_version < '3.8'
importlib-resources; python_version < '3.7'
enum34; python_version < '3.4'
future; python_version < '3.0'
# Development libraries
pytest
coverage
tox
black
build
guppy