# Requirements
schema >= 0.7.5
lupa >= 1.10
six >= 1.16.0
# Development
unittest2
black
# Compatiblity
importlib-resources; python_version < '3.7'
typing; python_version < '3.5'
enum34; python_version < '3.4'
future; python_version < '3.0'