@import 'theme.css';

/* pre {                                 
    white-space: pre-wrap !important; 
    word-break: break-all;
} */

/* override table no-wrap */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.md-content {
    max-width: 100% !important;
}